* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

.flex {
  display: flex;
}

.container {
  max-width: 1140px;
  width: 80%;
  margin: 0 auto;
}

.debug {
  background-color: darkgrey;
  width: 300px;
  margin: 30px auto;
  height: 300px;
}

img{
    display: block;
}

/* header---------------------------------------*/
header {
  width: 100%;
  background-color: #0084FD;
  position: fixed;
  top: 0;
  z-index: 999;
}

.head {
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.menu {
  display: none;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: white;
  border-radius: 30px 30px;
  cursor: pointer;
}

.btn a {
  color: black;
}

.menu ul li{
  display: inline;
  margin: 0 10px;
}

.menu ul a{
  text-decoration: none;
  color: white ;
  font-size: 1.2rem;
}

.menu span a {
  color: black;
}

.burger i{
  font-size: 1.5rem;
  color: white;
}

/* main---------------------------------------*/

main {
  text-align: center;
  margin-top: 150px;
}

.column {
  background-color: #B5DDFF;
  margin-block: 20px ;
  border-radius: 30px 30px;
}

.row {
  padding-top: 50px;
  padding-inline: 40px;
}

.text{
  padding: 50px 0;
}

.start {
  text-align: start;
}

.image {
  width: 100%;
}

.column.small i {
  font-size: 6rem;
  color: #0084FD;
  margin-bottom: 20px;
}

.btn.apple {
  background-color: #0084FD;
  padding: 12px 80px;
  color: white;
  min-width: 100px;
}

.btn.apple span{
  font-weight: bold;
  font-size: 1.1rem;
}

.title-demo {
  color: #0084FD;
  font-size: 1.8rem;
}

.column.white {
  background-color: white;
  border: 1px solid black; /* da togliere */
}

.color-planning,
.color-benefit {
  background-color: #9792E4;
  padding: 50px 0;
}

.image-planning img{
  width: 90%;
}

.column.violet {
  background-color: blueviolet;
}

.profile {
  background-color: bisque;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.get-started {
  background-color: aqua;
}

/* footer---------------------------------------*/
footer{
  background-color: slategrey;
  padding: 50px 0;
}

/* QUERY---------------------------------------*/
@media screen and (min-width:577px) {
  .column{
    width: 31%;
    margin: 10px 0;
  }

  .column.big{
    width: 65% ;
  }

  .demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column.white {
    width: 100%;
  }

  .column.violet {
    width: 100%;
    display: flex;
    height: 0%;
  }

  .profile {
    margin: 10px;
  }

  .benefit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column.small.white {
    width: 48%;
  }

  .col {
    display: flex;
    margin: 30px;
    justify-content: space-around;
  }
}

@media screen and (min-width:790px){
  .menu {
    display: block;
  }
  .burger {
    display: none;
  }

  .plan {
    display: flex;
    justify-content: space-around;
  }

  .plan .column.white {
    width: 50%;
  }

  .column.small.white {
    width: 32%;
  }
}